In [6]:
n = 0
while (n < 10):
    print (n)
    n = n + 1
    if (n == 5):
        n = 10

0
1
2
3
4

In [25]:
n = 0
while (n < 5):
    print (n)
    n = n + 1 
print ( str(n) + " is not less than 5")

0
1
2
3
4
5 is not less than 5

In [51]:
fruit = ["banana", "orange", "apple", "tomato"]
for i in fruit:
    if i == "apple":
        print(str(i) + " is really a fruit?")
        break
    print("i like "+ str(i))

i like banana
i like orange
apple is really a fruit?

In [53]:
i = 1
sum = 0 
while i<=30:
    sum=sum+i
    i=i+1
print('sum of first 1 to 30 is :', sum)

sum of first 1 to 30 is : 465

In [61]:
s = 55
g = "F"
if s >= 90:
    g = "A"
elif s >= 80:
    g = "B"
elif s >= 70:
    g = "C"
elif s >= 60:
    g = "D"
else: g = "F" 
print(g)

F

In [76]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
minGrade = 100
maxGrade = 0
sumGrades = 0
x = 0 

for key, value in marks.items():
    print (key, value)
    if value > maxGrade:
        maxGrade = value 
    elif value < minGrade:
        minGrade = value
    x = x+1
    sumGrades = sumGrades + value
mean = sumGrades/x
print("mean:", mean)
print("max:", maxGrade)
print("min:", minGrade)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77
mean: 75.2
max: 90
min: 55

In [95]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for i in marks:
    if 'J' in i:
        break
    print(i)

Andy
Amy

In [96]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for i in marks:
    if 'J' in i:
        continue
    print(i)

Andy
Amy
Arthur